<div id="<%= dom_id ainimal %>">
  <p>
    <strong>Name:</strong>
    <%= ainimal.name %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= ainimal.class %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= ainimal.image %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= ainimal.desc %>
  </p>

</div>
