<p style="color: green"><%= notice %></p>

<%= render @ainimal %>

<div class="container col-5 mt-3 text-center">
  <%= link_to "Edit this ainimal", edit_ainimal_path(@ainimal), class:'btn btn-light' %> |
  <%= link_to "Back to ainimals", ainimals_path, class:'btn btn-light' %>

  <%= button_to "Destroy this ainimal", @ainimal, method: :delete, class:'btn btn-danger' %>
</div>
